@use '../custom' as *;
@use '../utils/mixins' as m;

.container-fluid {
	padding: 0;
}

.row {
	--bs-gutter-x: 0;

	@include media-breakpoint-up(lg) {
		hr {
			display: none;
		}
	}
}

%columns {
	padding: $font-size-base;

	@include media-breakpoint-up(xl) {
		padding: $font-size-base * 2.5;
	}

	@media screen and (min-width: 1920px) {
		padding: $font-size-base * 5;
	}
}

#diseno {
	.hero {
		@include m.bgImage('https://cyberdietoterapia.com/images/background-diseno.jpg', $white-35);
	}

	.column1 {
		@include media-breakpoint-up(lg) {
			@include m.bgImage('https://cyberdietoterapia.com/images/img04.jpg', transparent);
		}
	}

	.column2,
	.column3 {
		@extend %columns;
	}
}

#desarrollo {
	.hero {
		@include m.bgImage('https://cyberdietoterapia.com/images/background-desarrollo.jpg', $white-35);
	}

	.column3 {
		@include media-breakpoint-up(lg) {
			@include m.bgImage('https://cyberdietoterapia.com/images/img05.jpg', transparent);
		}
	}

	.column2,
	.column1 {
		@extend %columns;
	}
}


#optimiza {
	.hero {
		@include m.bgImage('https://cyberdietoterapia.com/images/background-optimi.jpg', $white-35);
	}

	.column1 {
		@include media-breakpoint-up(lg) {
			@include m.bgImage('https://cyberdietoterapia.com/images/img06.jpg', transparent);
		}
	}

	.column2 {
		@extend %columns;
	}
}


#posicionamiento {
	.hero {
		@include m.bgImage('https://cyberdietoterapia.com/images/background-posiciona.jpg', $white-35);
	}

	.column3 {
		@include media-breakpoint-up(lg) {
			@include m.bgImage('https://cyberdietoterapia.com/images/img07.jpg', transparent);
		}
	}

	.column2,
	.column1 {
		@extend %columns;
	}
}


#publicidad {
	.hero {
		@include m.bgImage('https://cyberdietoterapia.com/images/background-publi.jpg', $white-35);
	}

	.column1 {
		@include media-breakpoint-up(lg) {
			@include m.bgImage('https://cyberdietoterapia.com/images/img08.jpg', transparent);
		}
	}

	.column2,
	.column3 {
		@extend %columns;
	}
}

#marketing {
	.hero {
		@include m.bgImage('https://cyberdietoterapia.com/images/background-marketing.jpg', $white-35);
	}

	.column3 {
		@include media-breakpoint-up(lg) {
			@include m.bgImage('https://cyberdietoterapia.com/images/img09.jpg', transparent);
		}
	}

	.column2,
	.column1 {
		@extend %columns;
	}
}

hr {
	padding: 0 8rem !important;
	width: 0% !important;
	opacity: 1;
	margin: $font-size-base auto;
}

.column2,
.column3 {
	@include media-breakpoint-up(lg) {
		p:first-child {
			margin-top: $font-size-base * 4;
		}
	}
}

#servicios {
	.main {
		@include media-breakpoint-up(xl) {
			h3,
			p {
				margin: $font-size-base * 2.5;
			}
		}

		@media screen and (min-width: 1920px) {
			margin: $font-size-base * 5 0;
		}
	}
}

